@font-face {
  font-family: "Telegraf Ultralight";
  src: url("./fonts/Telegraf\ UltraLight\ 200.otf");
}
@font-face {
  font-family: "Telegraf Ultrabold";
  src: url("./fonts/Telegraf\ UltraBold\ 800.otf");
}
@font-face {
  font-family: "Telegraf Regular";
  src: url("./fonts/Telegraf\ Regular\ 400.otf");
}

:root {
  --primary-font: "Telegraf Ultralight";
  --secondary-font: "Telegraf Ultrabold";
  --terciary-font: "Telegraf Regular";
  --primary-color: #1E6554;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(148, 147, 147, 0.164);
  padding: 0;
}

/*navBar Styles*/


/* .contentNavBar {
  height: 15vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.616);
  position: absolute;
  z-index: 2;
}
.contentNav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logoNav {
  padding-top: 1%;
  padding-left: 4%;
  width: 17vh;
  margin-left: 1rem;
  margin-top: 0.8rem;
}
.contentMenu {
  padding-right: 4vw;
  width: 40vw;
  display: flex;
  justify-content: flex-end;
} */
.link {
  text-decoration: none;
  color: white !important;
  padding-right: 3vw;
  font-size: 1.5vw;
  font-family: var(--secondary-font);
  margin-top: 1rem;
}
.link:hover {
  color: var(--primary-color) !important;
}
a {
  text-decoration: none !important;
  color: var(--primary-color) !important;
}

/*nosotros*/


.img-equipo{
  width:100%;
}
.info-text {
margin-top: 8%;
width: 100%;
}
.contenedor-textoE{
width: 100%;
display: flex;
justify-content: space-around;

}
.text-equipo{
  margin-top: 5vh;
  height:50%;
  width: 20%;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.contImg-valores{
  width: 50%;
  display:flex;
}
.texto-valores{
  display:flex;
  flex-direction: column;
  width:40vw;
}
.img-valores{
  width: 40vw;
  height: 45vw;
  margin-left: 5vw;  
}
.text-nosotros-t{
  font-size: 1.7vw;
}
.content-ultimo{
  display:flex;
height:80%;
width: 100%;
margin-top: 10vh;
margin-bottom: 10%;
}
.imagenU{
  width: 25%;
  height:55%;
  margin-top:20%;
  margin-left: 5%;
  margin-right: 2%;
}
.textFinal{
  display:flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
  width: 30%;
  margin-left: 4%;
  margin-top: 6%;
  
}
.ultimo-text{
  font-size: 1.7vw;
}
.imagenD{
  width: 25%;
  height:55%
}
.relleno{
  background-color: #1E6554;
  height:20vh;
  width: 15vw;
}
@media (max-width: 320px) {
  .texto-equipo{
    position:relative;
    top: 14vw !important;
    padding-left: 6.5%;
    color: white;
  } 
}
.texto-primeroT{
color:var(--primary-color);
font-weight: bold;
font-size: 2vw;
}
.contenedor-tercero{
  margin-top: 10vh;
  margin-bottom: 10vh;
  width: 100%;
  display:flex;
}
.text-secundario{
  font-size: 2vw;
}

.texto-equipo{
  position:relative;
  top:10vw;
  padding-left: 6.5%;
  color: white;
}
.camion-img {
  width: 100%;
  height:58vh ;
}
.text{
  height: 30vh;
  padding-bottom: 4vh;
  padding-top: 4vh;
  font-size: 180%;
}
/*pag 2*/

.pagDos{
  height:100vh;
  width: 100%;
  padding:0;
  margin:0;
}
.textPagDos{
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.textProductos{
  font-size: 4vw;
  padding-top: 4vh;
  margin: 0;
  margin-block-end: 0 !important;
}
.parafoProducto{
  width: 40vw;
}
.imgProduct{
  display:flex;
}
.pUno{
  height: 40vh;
  width: 25vw;
  background-image: url("./image/produno.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.pDos{
  height: 40vh;
  width: 17vw;
  background-image: url("./image/productDos.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

/* HOME*/

.imageCamion {
  width: 100%;
}
.introHome {
  padding: 1rem;
  margin-top: 6rem;
  margin-bottom: 6rem;
  margin-left: 1rem;
  font-family: var(--primary-font);
  font-size: 2.5rem;
  width: 85vw;
}
.containerIntroHome {
  background-color: rgba(148, 147, 147, 0.164);
  padding: 3rem;
}
.resaltados {
  background-color: #1E6554;
  color: white;
  padding: .5rem;
}
/* Carrusel */

.carruselCaption {
  margin-bottom: 22rem !important;
}
.textCaption {
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: bold;
  font-family: var(--secondary-font);
}
.textCaption2 {
  font-size: 2rem;
  font-weight: bold;
}
.imgCarrusel {
  filter: brightness(0.8) contrast(110%);
}

@media (max-width: 1122px) {
  .textCaption {
    font-size: 6rem;
  }
  .textCaption2 {
    font-size: 1rem;
  }
  .carruselCaption {
    margin-bottom: 18rem !important;
  }
}
@media (max-width: 900px) {
  .textCaption {
    font-size: 6rem;
  }
  .textCaption2 {
    font-size: 1rem;
  }
  .carruselCaption {
    margin-bottom: 10rem !important;
  }
}
@media (max-width: 788px) {
  .textCaption {
    font-size: 4rem;
  }
  .textCaption2 {
    font-size: 1rem;
  }
  .carruselCaption {
    margin-bottom: 7rem !important;
  }
}
@media (max-width: 600px) {
  .textCaption {
    font-size: 4rem;
  }
  .textCaption2 {
    font-size: 1rem;
  }
  .carruselCaption {
    margin-bottom: 4rem !important;
  }
}
@media (max-width: 500px) {
  .textCaption {
    font-size: 4rem;
  }
  .textCaption2 {
    font-size: 1rem;
  }
  .carruselCaption {
    margin-bottom: 2rem !important;
  }
}


/* Productos */

.nuestrosProductos {
  font-family: var(--secondary-font);
  padding: 1rem;
  margin-top: 6rem;
  text-align: center;
  font-size: 3rem;
}
.textNuestrosProductos {
  font-family: var(--terciary-font);
  padding: 1rem;
  margin-bottom: 4rem;
  font-size: 1.5rem;
}
.productos .galleryContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 20px;
  grid-gap: 10px;
}
.galleryImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.galleryItem:nth-child(1) {
  grid-column-start: span 2;
  grid-row-start: span 2;
}

.galleryItem:nth-child(2) {
  grid-column-start: span 1;
  grid-row-start: span 1;
}
.galleryItem:nth-child(5) {
  grid-column-start: span 1;
  grid-row-start: span 1;
}
.galleryItem {
  position: relative;
}
.galleryTitle {
  position: absolute;
  bottom: 0;
  text-align: center;
  padding: 10px;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  transition: opacity 0.5s;
  background: rgba(0, 0, 0, 0.4);
  color: white;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: default;
}
.galleryImg {
  filter: blur(0px);
}
.galleryItem:hover .galleryTitle {
  opacity: 1;
}

.galleryItem:hover .galleryImg {
  filter: blur(2px);
  transition: filter 0.3s ease-in;
  transform: scale(1);
}

/* for touch screen devices */

@media (hover: none) {
  .location-title {
    opacity: 1;
  }
  .location-image img {
    filter: blur(2px);
  }
}

/*  CLIENTES  */

.clientes .clientesContainer {
  display: flex;
}
.clienteItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 33%;
  height: 60vh;
  padding-top: 2rem;
}
.clienteImg {
  width: 100px;
  height: 100px;
  border-radius: 3rem;
  object-fit: cover;
  border-radius: 50%;
}
.clienteTitle {
  font-family: var(--secondary-font);
  color: var(--primary-color);
  padding-top: 1rem;
}
.clienteOpinion {
  font-family: var(--terciary-font);
  text-align: center;
}
.btnConocenos {
  background-color: black;
  color: white;
  font-family: var(--primary-font);
  padding: .5rem;
  border-radius: .3rem;
  display: flex;
  align-items: center;
  margin-bottom: 4rem;
}
.btnConocenosContainer {
  font-family: var(--primary-font);
  padding: .5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-decoration: none;
  display: flex;
  justify-content: center;
}
.btnConocenos:hover {
  color: var(--primary-color);
}

/* TABLAS */

.containerTablas {
  display: flex;
}
.containerTextTablas {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.imgTablas {
  width: 50%;
  height: 30%;
}
.parrafoTablas {
  font-family: var(--terciary-font);
  font-weight: bold;
  font-size: 1.3rem;
  padding: 1rem;
  color: var(--primary-color);
  width: 60%;
  margin-top: 1rem;
  margin-bottom: 6rem;
  margin-left: 2rem;
}
.nuestrosProductos2 {
  font-family: var(--secondary-font);
  padding: 1rem;
  margin-bottom: 6rem;
  font-size: 3rem;
  margin-left: 2rem;
}
.btnConocenos2 {
  background-color: black;
  color: white;
  font-family: var(--primary-font);
  padding: .5rem;
  border-radius: .3rem;
  margin-left: 2rem;
  display: flex;
  align-items: center;
}


/* FORMULARIO */

.formularioContainer {
  background-image: url("./image/_NPH4879.jpg");
  background-size: cover;
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.formularioContainer2 {
  background-image: url("./image/_NPH4713.jpg");
  background-size: cover;
  margin-top: 6rem;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
form {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin-bottom: 3rem;
  padding: 2rem;
  font-family: var(--secondary-font);
  color: white;
}
input {
  background-color: rgba(255, 255, 255, 0);
  border: none;
  border-bottom: 1px solid #1e6554a4;
}
.inputMsj {
  padding: 1rem;
  margin-left: 0;
}
label {
  margin-bottom: 1rem;
}
textarea {
  background-color: rgba(255, 255, 255, 0.253);
  color: #000000;
}
.btnSend {
  background-color: var(--primary-color);
  color: white;
  font-family: var(--primary-font);
  padding: .5rem;
  margin-top: 2rem;
  width: 20%;
}
.consultaTitle {
  font-family: var(--secondary-font);
  color: white;
  padding: 1rem;
  margin-bottom: 5rem;
  margin-top: 2rem;
  font-size: 3rem;
  margin-left: 2rem;
}
.consultaTitle2 {
  font-family: var(--secondary-font);
  color: white;
  padding: 1rem;
  margin-bottom: 5rem;
  margin-top: 2rem;
  font-size: 3rem;
  margin-left: 2rem;
  text-align: center;
  width: 60%;
}

@media (max-width: 1088px) {
  
  .btnSend {
    background-color: var(--primary-color);
    color: white;
    font-family: var(--primary-font);
    padding: .5rem;
    margin-top: 2rem;
    width: 30%;
  }
  
}
@media (max-width: 780px) {
  
  .btnSend {
    background-color: var(--primary-color);
    color: white;
    font-family: var(--primary-font);
    padding: .5rem;
    margin-top: 2rem;
    width: 40%;
  }
  
}
@media (max-width: 620px) {
  
  .btnSend {
    background-color: var(--primary-color);
    color: white;
    font-family: var(--primary-font);
    padding: .5rem;
    margin-top: 2rem;
    width: 50%;
  }
  
}

/* Footer */

.footerContainer {
  background-color: black;
  color: var(--primary-color);
  font-family: var(--terciary-font);
  padding: 3rem;
}
.containerIconosFooter {
  display: flex;
  justify-content:space-around;
  align-items: center;
}
.correoIcon {
  margin-bottom: 1rem;
  margin-top: .5rem;
}
.derechosReservados {
  text-align: center;
  margin-top: 2rem;
  color: white;
}

@media (max-width: 750px) {
  .containerIconosFooter {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .logoLosAndes {
    width: 30;
  }
  .logoCellphone {
    margin-left: .5rem;
  }
  .correoIcon {
    margin-left: 2rem;
  }
  .logoReloj {
    margin-left: 1.5rem;
  }

  .footerContainer {
    font-size: small;
    width: 100%;
  }
  
}

/* Home */

.titleHome {
  text-align: center;
  padding-bottom: 2rem;
}

/* Contacto */

.titleContacto {
  font-family: var(--secondary-font);
  color: rgb(0, 0, 0);
  padding: 1rem;
  margin-bottom: 5rem;
  margin-top: 5rem;
  font-size: 3rem;
  margin-left: 2rem;
  text-align: center;
}
.titleContacto2 {
  font-family: var(--secondary-font);
  color: rgb(0, 0, 0);
  padding: 1rem;
  margin-bottom: 5rem;
  margin-top: 5rem;
  font-size: 3rem;
  margin-left: 2rem;
  text-align: center;
}
.mapsContacto {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 5rem;
}
.textMaps {
  font-family: var(--terciary-font);
  color: #1E6554;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}





/*medias*/

@media (max-width: 768px) {
  .link {
    text-decoration: none;
    color: white;
    padding-right: 3vw;

    font-size: 2.5vw;
  }
}
@media (max-width: 425px) {
  .link {
    text-decoration: none;
    color: white;
    padding-right: 3vw;
    font-size: 4vw;
  }
}
